.container {
  width: 318px;
  padding: 80px 0;
}

.container .row .col {
  height: 100px;
  border: 1px solid #cecece;
  cursor: pointer;
  font-size: 70px;
}

.container .row.rowFirst .col {
  border-top: none;
}

.container .row.rowLast .col {
  border-bottom: none;
}

.container .row .col.edgeLeft {
  border-left: none;
}

.container .row .col.edgeRight {
  border-right: none;
}
.container .row .col.pullmid {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***GAME STATS/BOARD***/
.gameBoard {
  display: none;
  position: absolute;
  top: 275px;
  left:50%;
  margin-left: -100px;
  text-align: center;
  background: rgba(214,213,213,0.8);
  width: 200px;
  height: 80px;
}

.gameBoard .text p {
  margin-top: 20px;
  font-size: 30px;
}

/***BANNER***/
.banner {
  margin-top: 40px;
  text-align: center;
}

/***BUTTONS***/
.ctrlGrid {
  width: 100%;
  text-align: center;
}
